<div class="container-fluid contact-form">
  <div class="main">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text" #search class="form-control text-center" placeholder="Search your favourite series" />
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button (click)="onSearch(search.value, 5, 0)" class="btn btn-primary btn-block">SearchEinsteinium</button>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="loading">
    <div class="card-header">
      Search results for : {{search.value}}
    </div>
    <div class="card-body" *ngIf="seasons?.length == 0">
      Sorry! You are worthless piece of shit.
    </div>
    <ul class="list-group list-group-flush" *ngIf="movies?.length > 0">
      <li class="list-group-item" *ngFor="let result of movies">
       <p class="float-left">{{result.title}}</p> 
       <a class="float-left" [routerLink]="['/playoptions']" [queryParams]="{v: result.url}">Play</a>
        <a class="float-right" href="{{result.download_link}}">Download</a>
      </li>
      <p-paginator [rows]="5" totalRecords="{{totalCount}}" (onPageChange)="paginate($event, search.value)"></p-paginator>
    </ul>
  </div>
</div>